.contenLogo{
  margin-top: 10px;
}
.logoIni{
  width: 80px;
}
.title{
  display: block;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-top: 80px;
  text-decoration: underline;
}
.FormCreate{
  margin-top: 100px;
}
.title_about{
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
.p_about{
  text-align: justify;
}
.divType{
  /* background-color: red; */
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
}
.clipboard{
  background-color: green;
  cursor: pointer;
}
.hideShow{
  background-color: white;
}
.clipboard > svg{
  color:white;
}
.spinner, .spinnerIni {
  animation: spin infinite 1s linear;
}
.spinnerIni{
  margin-top: 10rem;
  width: 5rem;
  height: 5rem;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 512px) {
  div > .generate{
    margin-top: 1rem;
  }
  table.tabla, div.about{
    width: 90%;
  }
}
@media (min-width: 512px) and (max-width: 715px) {
  table.tabla,div.about{
    width: 70%;
  }
}
@media (min-width: 715px) {
  table.tabla,div.about{
    width: 50%;
  }
}
